.banner img {
    width: 100%;
    position: relative;
}

.conteudo {
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 10vw;
    left: 50%;
    transform: translateX(-50%);
    width: 6vw;
}

.conteudo .titulo {
    font-family: var(--font-comfortaa);
    font-size: 2em;
}

.conteudo .texto {
    font-family: var(--font-montserrat);
    white-space: nowrap;
}
