.sobre .titulo {
    font-family: var(--font-comfortaa);
    font-weight: bold;
    color: var(--color3);
    font-size: 1.25em;
}

.sobre .conteudo {
    padding: 0 2em;
    margin-bottom: 2em;
    color: var(--color4);
    font-family: var(--font-montserrat);
    font-size: 1em;
    line-height: 1.3;
}

.conteudo strong {
    font-weight: 600;
}
